.qrcode-container {
    position: relative;
    width: 100%;
    padding-top: 150%; /* 2:3 aspect ratio (2/3 * 100%) */
  }
  
  .qrcode-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 15%;
    object-fit: cover;
  }